<div class="row">
  <div class="col-2">
      action mode
  </div>
  <div class="col-2">
    <!-- <img src="assets/mock-api/mock-images/chicken.jpg"> -->
    <img [src]="mockMenu?.headerImage" width="100px" height="100px">
    <br/> <br/>
    <div class="row">
      <div class="col-12">
        average cook time: {{mockMenu?.lunch[0].avgCookTime}} secs
      </div>
    </div>
  </div>
  <div class="col-6">
    favorite  space      food title     space    rating
    <div class="row">
      <div class="col-12">
        description
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        nutrients.... only seen if there is something here
        Expandable option too
      </div>
    </div>
  </div>
  <div class="col-2">
    price titles
    <div class="row">
      <div class="col-12">
        prices
      </div>
    </div>
  </div>
</div>
