<div class="row">
  <div class="col-2">
      action mode
  </div>
  <div class="col-2">
    <!-- <img src="assets/mock-api/mock-images/chicken.jpg"> -->
    <img [src]="menuItem?.image" width="100px" height="100px">
    <div class="row">
      <div class="col-12">
        <app-rating [rating]="menuItem.rating"></app-rating>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        avg cook time: {{menuItem.avgCookTime}} secs
      </div>
    </div>
  </div>
  <div class="col-6">
    <span>
        <i class="fa fa-star" *ngIf="isFavorite" style="color: red" (click)="toggleFavorite()"></i>
        <i class="fa fa-star-o" *ngIf="!isFavorite" (click)="toggleFavorite()"></i>
    </span>
    <span>{{menuItem.foodTitle}}</span>
    <div class="row">
      <div class="col-12">
        {{menuItem.description}}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        nutrients.... only seen if there is something here
        Expandable option too
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="row" *ngIf="menuItem.priceTitles.length > 0">
        <div class="col-4" style="display: inline;" *ngFor="let priceTitle of menuItem.priceTitles">
            {{priceTitle}}
        </div>
    </div>    
    <div class="row">
      <div class="col-4" style="display: inline;" *ngFor="let price of menuItem.prices">
          ${{price}}
      </div>
    </div>
  </div>
</div>
