<div class="row">
  <div class="col-2">
      action mode
  </div>
  <div class="col-2">
    <!-- <img src="assets/mock-api/mock-images/chicken.jpg"> -->
    <img [src]="menuItem?.image" width="100px" height="100px">
    <br/> <br/>
    <div class="row">
      <div class="col-12">
        average cook time: {{menuItem.avgCookTime}} secs
      </div>
    </div>
  </div>
  <div class="col-6">
    <span>
        <p-rating [(ngModel)]="favoriteCurr" stars="1" [cancel]="false" (onRate)="toggleFavorite($event)"></p-rating>
    </span>
    <span>{{menuItem.foodTitle}}</span>
    <span>
      <p-rating [(ngModel)]="val"></p-rating>
    </span>
    <div class="row">
      <div class="col-12">
        {{menuItem.description}}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        nutrients.... only seen if there is something here
        Expandable option too
      </div>
    </div>
  </div>
  <div class="col-2">
    price titles
    <div class="row">
      <div class="col-12">
        prices
      </div>
    </div>
  </div>
</div>
